<?xml version="1.0" encoding="utf-8"?>
<application xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NFCiCodeRead"
    android:versionCode="9"
    android:versionName="9"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:description="@string/app_name"
        android:icon="@drawable/ic_launcherr"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_rr"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name="com.nxp.sampletaplinx.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nxp.sampletaplinx.MainActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/ic_rr"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <data android:mimeType="text/plain" /> -->
            </intent-filter>
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

    <application android:authorities="com.facebook.app.FacebookContentProvider1847976455451935"
        android:name="com.facebook.FacebookContentProvider"
        android:exported="true"/>
     </application>

